<% include head %>

<body>

<header>
<% include header %>
</header>
<main>
	<div id="form-wrapper">
		<form class="add-image" action="./add" method="post">
			<input type="text" placeholder="image url"> 
			<input type="submit">

		</form>
	</div>
</main>
<footer>
<% include footer %>
</footer>
</body>
</html>