<!DOCTYPE html>
<html>
<head>
	<title>NodeJS - electric or not voting app</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
